<div class="panel panel-primary" ng-controller="CreateUserCtrl as createUserCtrl">
    <div class="panel-heading">
        <h3 class="panel-title">Create User</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" name="userForm">     
            <div class="row">				
				  <div class="col-md-6">
				
					<div class="form-group">                
		                <label for="firstName" class="col-sm-3 control-label">First Name</label>
		                <div class="col-sm-9">
		                    <input type="text" class="form-control" id="firstName" placeholder="Type in first name..."
		                           ng-model="createUserCtrl.model.firstName" required>
		                </div>
		            </div>	  
				  	
				  	<div class="form-group">
		                <label for="lastName" class="col-sm-3 control-label">Last name</label>
		                <div class="col-sm-9">
		                    <input type="text" class="form-control" id="lastName" placeholder="Type in last name..."
		                           ng-model="createUserCtrl.model.lastName" required>
		                </div>
		            </div>	  
					
					<div class="form-group">
		                <label for="image" class="col-sm-3 control-label">Image</label>
		                <div class="col-sm-9">
		                    <input type="file" class="form-control" id="image" placeholder="Upload image..."
		                           file-model="createUserCtrl.model.image" required>
		                </div>
		            </div>	  				  
				
              
          <div class="form-group">
		                <label for="description" class="col-sm-3 control-label">Description</label>
		                <div class="col-sm-9">
		                    <input type="text" class="form-control" id="description" placeholder="Type in description..."
		                           ng-model="createUserCtrl.model.description" required>
		                </div>
		            </div>
		            
		            <div class="form-group">
		                <div class="col-sm-offset-10 col-sm-12">		                
		                	<button ng-click="createUserCtrl.add()" class="btn btn-primary" ng-disabled="saving"><i ng-show="saving"></i> Submit</button>	                    
		                </div>
		            </div>	  				  
				  </div>			
				</div>      
        </form>
    </div>
</div>